{% extends "base.html" %}

{%block title %}Password Change Confirm {%endblock%}

{%block content%}
    {% include 'reg_base.html' %}
    <style>
        form {
            padding: 2rem; /* Add space inside the form */
            border: 2px solid var(--text_col); /* Add a gray border */
            border-radius: 8px; /* Add rounded corners */
            box-shadow: 5px 5px 8px 5px rgba(255, 255, 255, 0.1); /* Add a subtle shadow */
            text-align: center; /* Center text inside the form */
            max-width: 400px; /* Set a maximum width for the form */
            width: 100%; /* Make the form responsive */
            text-align: left;
        }

        form h1 {
            margin-bottom: 1rem; /* Add space below the heading */
            text-align: center;
            color: var(--text_col); /* Change the heading color */
        }
        form button {
            padding: 0.5rem 1rem;
            color: var(--text_col);
            border: 2px solid var(--text_col);
            border-radius: 25px;
            cursor: pointer;
            margin-top: 1rem;
            margin-bottom:15px;
            text-decoration: none;
        }
      
    </style>
    <title>Password Reset</title>
    <div class="bkg-img-container">
        {% include 'toggle-menu.html' %}
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Save Password</button>
        </form>
    </div>
{%endblock%}